<header class="header">
  <div class="container grid header__container">
    <div class="header__left">
      <a class="logo header__logo">Sneaker shop</a>
    </div>
    <div class="header__right">
      <nav class="nav">
        <ul class="nav__list list-reset">
          <li class="nav__item"><a href="#" class="nav__link">Catalog</a></li>
          <li class="nav__item"><a href="#" class="nav__link">About</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Team</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Payment and delivery</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Contacts</a></li>
        </ul>
      </nav>
      <div class="cart header__cart">
        <button class="btn-reset cart__btn">
          <svg>
            <use xlink:href="img/sprite.svg#cart"></use>
          </svg>
          <div class="cart__count">1</div>
        </button>
      </div>
    </div>
  </div>
</header>